table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  /* Sötétebb sorok */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  /* Világosabb sorok */
  tr:nth-child(odd) {
    background-color: #ffffff;
  }

  #keresEredmeny {
    display: block; /* Alapértelmezett megjelenés */
  }
  #keresEredmeny.hidden {
    display: none; }