/* Oldalsó menü */
.custom-navbar{
    background-color: #9AD768;
}

a:hover {
    color: #c5f8a5;
    font-weight: bold;
}

/* sidebar_menu mobil nézetben */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content-container {
  display: flex;
  flex-direction: row; 
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100%;
  overflow-y: auto; 
}

/* Profil */

.profile-page {
  width: 100%;
  padding: 8% 0 0;
  margin:3%
}

.profile-form {
  max-width: 500px;
}


/*Adminisztrációs felületek */
.admin-table {
  width: 50%;
  border-collapse: collapse;
}
.admin-table-short {
  width: 25%;
  border-collapse: collapse;
}

/* admin_next_vasar */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 999;
}

.popup-content {
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

/* Bejelentkezés */
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form input[type=submit] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #82af4c;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form input[type=submit]:hover,.form input[type=submit]:active,.form input[type=submit]:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852; /* tartalék régi böngészők esetén */
  
  background: linear-gradient(90deg, rgb(238, 238, 236) 0%, rgba(118,184,82,1) 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

/* hibaüzenetek */
.error {
    background-color: pink;
}
.msg {
    background-color:#9AD768
}
.error, .msg{
    padding: 15px;
}

/* Váltakozó színű táblázat, seller.php-ban */
.sellers table {  
  border-collapse: collapse;
  width: 100%;
  margin-left: 0; 
  background-color: inherit;
  
}
.sellers th, .sellers td, .sellers tr {
  border: 1px solid #ddd;
  padding: 20px; /* A sorok közötti nagyobb hely */
  text-align: left;
}

/* Sötétebb sorok */
.sellers tr:nth-child(even) {
background: rgba(211, 211, 211, 0.2);
}

/*keresés-táblázat*/
.search table {
  border-collapse: collapse;
  width: 100%;
  margin-left: 0; 
  background-color: inherit;
  
}
.search tr, .search th, .search td {
  border: 1px solid #ddd;
  padding: 10px; /* A sorok közötti nagyobb hely */
  text-align: left;
 
  
}
  /* Sötétebb sorok */
.search tr:nth-child(even) {
  background: rgba(211, 211, 211, 0.2);
  }


  /*#keresEredmeny {
      display: block; /* Alapértelmezett megjelenés 
  }
  #keresEredmeny.hidden {
      display: none; }*/

/*table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
/* Sötétebb sorok 
tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* Világosabb sorok 
tr:nth-child(odd) {
  background-color: #ffffff;
}*/

/*#keresEredmeny {
  display: block; /* Alapértelmezett megjelenés 
}
#keresEredmeny.hidden {
  display: none; }*/

  /* minden oldal bodyja*/
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  display: block;
  background-color: white;

}
/* navigációs bar, de ezt vmi felülírja sötét szürkére*/
nav {
  background-color: #76b852;
  
}


header {
  display: flex;
  justify-content: center; /* Képek középre igazítása */
  align-items: center;
  flex-wrap: nowrap; /* Gyerekelemek nem törnek sort */
}

/* Header képek */
header img {
  max-width: 33%; /* A header 33%-át használja ki minden kép */
  height: auto; /* Az arányok megőrzése */
  margin: 10px; /* Képek közötti térköz */
}

/* a képek plusz a nav bar
header {
  display: flex;
  /*justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

header képek
header img {
 
  max-width: 506px;
  max-height: 300px;
  
  
}*/
/* nav-bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*nav bar elemek*/
li {
  display: inline-block;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*amikor ráhúzza az egeret milyen szín legyen a nav bar de ezt vmi felülírja*/
li a:hover {
  background-color: #b0dc8c;
}
/*a a bodykban megjelenő h1 es szövegek*/
h1 {
  text-align: center;
  /*padding-left: 30%;*/
  padding-top: 3%;
  padding-bottom: 2%;
  /*padding-right: 100%;*/
  color: black;

}
/*a a bodykban megjelenő h2 es szövegek*/
h2 {
  
  text-align: center;
 /* padding-left: 20%;
  padding-right: 100%;*/
  font-size: 300%;
  padding-bottom: 1%;
  color: black;
  
  
}
/*jarvanyügyi h1 alatti szöveg*/
#kezdes {
  text-align: center;
  /*padding-left: 20%;*/
 padding-bottom: 3%;
 /*padding-right: 100%;*/

}
/*minden oldal p-s szövege*/
p {
  /*padding-left: 30%;*/
  text-align: justify;
  font-size: larger;
  /*padding-right: 5%;*/
}
/*a főoldal térkép feletti cím szövege*/
#cim{
  text-align: center;
  padding-left: 0%;
  padding-bottom: 1%;
  padding-right: 5%;
}
/*a főoldalon térkép*/
iframe{
  text-align: center;
 padding-bottom: 3%;
 padding-right: 30%;
}
/*helyfoglalós kép*/
img {
  width: 50%;
  float: right;
  
}
/*regisztrációs űrlap mezőinek formázása*/
label {
  border-radius: 30%;

}
/* footer */
.footer {
    background-color: #9ad768; 
    padding-left: 50px;
    text-align: center; /* Balra igazítás */
    flex-basis: 100%; /* Teljes szélesség a kisebb képernyőkre */
    font-size: 14px;
    /* border-top: solid 1px; */
    padding-top: 8px;
    padding-bottom: 1px;
    
}
.footer .larger-space {
  margin-right: 10px; /* Nagyobb távolság a következő szöveghez */
}


  /* piac-kép formázása */
#market_picture img {
  border-style: solid;
  border-width: 2px;
  float: left;
  margin: 20px 20px 20px 0;
  max-width: 100%;
  height: auto;
    }
                  